<form class="add-university">

  <h4 class="add-university__header">
    Rejestracja na wyjazd
  </h4>

  <mat-form-field appearance="outline">
    <mat-label>Adres email</mat-label>
    <input matInput formControlName="email" placeholder="Adres email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Numer telefonu</mat-label>
    <input matInput formControlName="phoneNumber" placeholder="Numer telefonu">
  </mat-form-field>

  <mat-form-field appearance="outline" >
    <mat-label>Nazwa uczelni</mat-label>
    <input matInput formControlName="universityName" placeholder="Nazwa uczelni">
  </mat-form-field>
  
  <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
  <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">

  <button class="add-university__button" mat-button color="primary">
    Wyślij
</button>
  </form>