<form [formGroup]="registrationForm" class="add-university" (ngSubmit)="onSubmit()">
  <h4 class="add-university__header">Rejestracja na wyjazd</h4>

  <mat-form-field appearance="outline">
    <mat-label>Adres email</mat-label>
    <input matInput formControlName="email" placeholder="Adres email" />
    <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
      Pole wymagane
    </mat-error>
    <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
      Nieprawidłowy format adresu email
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Numer telefonu</mat-label>
    <input matInput formControlName="phoneNumber" placeholder="Numer telefonu" />
    <mat-error *ngIf="registrationForm.get('phoneNumber')?.hasError('required')">
      Pole wymagane
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Uczelnie</mat-label>
    <mat-select [formControl]="universities" multiple>
      <mat-option *ngFor="let university of universitiesList" [value]="university">{{ university.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedFiles && selectedFiles.length > 0">
    <div *ngFor="let file of selectedFiles">
      <img [src]="getFileIcon(file)" alt="file icon" width="20" height="20" />
      {{ file.name }}
    </div>
  </div>

  <button type="button" class="adding-file-button" mat-raised-button (click)="fileInput.click()">
    Wybierz dokument
  </button>
  <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" multiple />

  <button type="submit" class="add-university__button" mat-button color="primary">Wyślij formularz</button>
</form>
