.add-university {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  background-color: var(--white-primary);
  border-radius: 10px;

  .add-university__header {
    position: absolute;
    top: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--usual-yellow);
    color: var(--white-primary);
    padding: 15px;
    border-radius: 10px;
  }

  .mat-form-field {
    width: 100%;
    margin-bottom: 1rem;

    input {
      font-size: 1rem;
      color: #333;
    }

    .mat-form-field-label {
      font-size: 0.875rem;
      color: #333;
    }

    .mat-form-field-underline {
      background-color: #333;
    }

    .mat-form-field-outline {
      color: #333;

      .mat-form-field-outline-start,
      .mat-form-field-outline-end {
        color: #333;
      }
    }

    mat-error {
      font-size: 0.875rem;
      color: #d50000;
      margin-top: 0.5rem;
    }
  }

  button {
    cursor: pointer;
    margin-top: 1rem;
    color: var(--white-primary)
  }

  .adding-file-button {
    background-color: var(--usual-yellow);

  }

  .add-university__button {
    font-size: 1rem;
    background-color: var(--light-blue);
    cursor: pointer;
  }

  div {
    display: flex;
    align-items: center;

    img {
      margin-right: 0.5rem;
    }
  }
}
